In [1]:
import pandas as pd

In [3]:
result = pd.read_json('sent_doc_call_corr.json')

In [8]:
result.sort_values(by = 'Corr', ascending=False)

     Date_Range  Rate_Limit      Corr
108          23        0.04  0.482439
113          24        0.04  0.477216
107          23        0.03  0.456634
126          27        0.02  0.451896
3             2        0.04  0.450948
..          ...         ...       ...
25            7        0.01  0.016236
40           10        0.01  0.010508
20            6        0.01 -0.011344
15            5        0.01 -0.016172
50           12        0.01 -0.074774

[145 rows x 3 columns]

In [15]:
result

     Date_Range  Rate_Limit      Corr
0             2        0.01  0.180782
1             2        0.02  0.270794
2             2        0.03  0.324945
3             2        0.04  0.450948
4             2        0.05  0.375988
..          ...         ...       ...
140          30        0.01  0.217536
141          30        0.02  0.256113
142          30        0.03  0.308536
143          30        0.04  0.360333
144          30        0.05  0.378040

[145 rows x 3 columns]

In [14]:
import datetime
test = pd.read_json('testing/final_ngram_comma.json')
test['date'] = list(map(lambda i: i.date(), test['date']))
test[(test['date'] >= datetime.date(2005,5,1)) & (test['date'] <=datetime.date(2017,12,31))]

              date                                              ngram
0       2005-05-12  부진/NNG;글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG,소비/NNG;설비/...
1       2005-06-09  경상/NNG;수지/NNG;적자/NNG;재정/NNG;적자/NNG,국제/NNG;금융시장...
2       2005-06-23                       대출/NNG;촉진/NNG,걸림돌/NNG,개선/NNG
3       2005-07-07  자산/NNG;가격/NNG;상승/NNG;물가/NNG;상승/NNG,물가/NNG;안정/N...
4       2005-08-11  부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,국채/NNG;수익률...
...            ...                                                ...
284006  2017-12-31  수출/NNG;경쟁력/NNG;약화/NNG;우려/NNG,외환시장/NNG;개입/NNG;자...
284007  2017-12-31                           주택담보대출/NNG;금리/NNG;최대/NNG
284008  2017-12-31  가계/NNG;대출/NNG;상환/NNG;부담/NNG,gdp/NNG;성장률/NNG;하락...
284009  2017-12-31  금융시장/NNG;변동성/NNG;크/VV,거시/NNG;건전성/NNG;강화/NNG,통화...
284010  2017-12-31  fed/NNG;금리/NNG;인상/NNG,금리/NNG;인상/NNG;걸림돌/NNG,fe...

[243973 rows x 2 columns]

In [41]:
train_data['ud'] =

In [34]:
from testing import BOK
call_datas = pd.read_json('testing/rate_data/call_raw.json')
train_data = pd.read_json('testing/final_ngram_comma.json')
# train_data['ud'] =

In [59]:
# train_data.set_index('date',inplace=True)
train_data['ud'] = BOK.rate_label(call_datas, 25, 0.02)['ud']

In [60]:
train_data.reset_index().to_json('bok6.json')

In [64]:
train_data[train_data['ud']==1]

                                                        ngram   ud
date
2005-05-12  부진/NNG;글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG,소비/NNG;설비/... -1.0
2005-06-09  경상/NNG;수지/NNG;적자/NNG;재정/NNG;적자/NNG,국제/NNG;금융시장... -1.0
2005-06-23                       대출/NNG;촉진/NNG,걸림돌/NNG,개선/NNG  0.0
2005-07-07  자산/NNG;가격/NNG;상승/NNG;물가/NNG;상승/NNG,물가/NNG;안정/N...  1.0
2005-08-11  부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,국채/NNG;수익률...  0.0
...                                                       ...  ...
2020-07-15                                      실망/NNG,중단/NNG  NaN
2020-07-15                               경기/NNG;침체/NNG,완화/NNG  NaN
2020-07-15           코픽스/NNG;떨어/VV,돈/NNG;확보/NNG,하락/NNG,내림/NNG  NaN
2020-07-15  저축성/NNG;예금/NNG;늘/VV,경기/NNG;악화/NNG,통화/NNG;급증/NN...  NaN
2020-07-15                                      최대/NNG,충족/NNG  NaN

[293111 rows x 2 columns]

In [67]:
test_data = train_data.dropna()

In [68]:
test_data

                                                        ngram   ud
date
2005-05-12  부진/NNG;글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG,소비/NNG;설비/... -1.0
2005-06-09  경상/NNG;수지/NNG;적자/NNG;재정/NNG;적자/NNG,국제/NNG;금융시장... -1.0
2005-06-23                       대출/NNG;촉진/NNG,걸림돌/NNG,개선/NNG  0.0
2005-07-07  자산/NNG;가격/NNG;상승/NNG;물가/NNG;상승/NNG,물가/NNG;안정/N...  1.0
2005-08-11  부동산/NNG;가격/NNG;상승/NNG;금리/NNG;인상/NNG,국채/NNG;수익률...  0.0
...                                                       ...  ...
2020-07-03                                             성장/NNG -1.0
2020-07-03  경제/NNG;성장률/NNG;플러스/NNG,금리/NNG;지준율/NNG;인하/NNG,대... -1.0
2020-07-03  소비자/NNG;물가/NNG;상승/NNG,정치/NNG;압력/NNG,정치/NNG;압박/... -1.0
2020-07-03  경제/NNG;성장률/NNG;플러스/NNG,금리/NNG;지준율/NNG;인하/NNG,대... -1.0
2020-07-04  수출/NNG;활성화/NNG,소비/NNG;촉진/NNG,불안/NNG;해소/NNG,자금/... -1.0

[292764 rows x 2 columns]

In [70]:
call_datas = pd.read_json('testing/rate_data/labeled_cd_rate.json')

In [72]:
call_datas

           date  rate  ud
0    2005-04-01  3.54  -1
1    2005-04-02  3.54  -1
2    2005-04-03  3.54  -1
3    2005-04-04  3.54  -1
4    2005-04-05  3.54  -1
...         ...   ...  ..
5538 2020-05-30  0.81   0
5539 2020-05-31  0.81   0
5540 2020-06-01  0.81   0
5541 2020-06-02  0.81   0
5542 2020-06-03  0.81   0

[5543 rows x 3 columns]

In [74]:
date_count = [i for i in range(-30,31) if i not in [-1,0,1]]

In [75]:
date_count

[-30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [76]:
pd.read_json('sent_doc_call_corr.json')

   Date_Range  Rate_Limit  doc_count      Corr
0          -2        0.01        169  0.614729